{% extends 'template.html.twig' %}

{% block content %}
<h1>{% block title %}Welcome!{% endblock title %}</h1>
<p>
    Example page.
    <a href="{{ url('welcome') }}">This is a generated URL.</a>
</p>
{% endblock content %}

