<!doctype html>
<html>
    <head>
        <title>{% block title %}An example default title{% endblock title %} - Monolyth skeleton</title>
        <link rel="stylesheet" href="/css/project.css">
        <link rel="icon" type="image/png" href="/favicon.png">
    </head>

    <body style="text-align: center">
        <img src="/favicon.png">
        <p>
            This is an example Twig template for Monolyth projects; please adapt
            it to your own needs.
        </p>

        <p>
            Here comes the main content loaded from the page-specific template:
        </p>

        <div role="main">{% block content %}This gets replaced in the page temlate.{% endblock content %}</div>

        <footer>&copy; Joe Developer (ACME international industries)</footer>
    </body>
</html>

