
#main {
    .menu-text a {
        background-image: url(menu/texts.png);
        }
    .menu-user a {
        background-image: url(menu/users.png);
        }
    .menu-group a {
        background-image: url(menu/groups.png);
        }
    .menu-permission a {
        background-image: url(menu/permissions.png);
        }
    .menu-mail a {
        background-image: url(menu/mail.png);
        }
    .menu-mail_template a {
        background-image: url(menu/mail_template.png);
        }
    .menu-language a {
        background-image: url(menu/languages.png);
        }
    .menu-media a {
        background-image: url(menu/medias.png);
        }
    }

